<header>
    <div class='social-media-bar' >
      <section class="container">
        <div class="row">
          <div class="col-md-6">
              <h5> 
                <label style="color: white;">
                    {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} 
                </label>
                <small>
                  <label style="color: white">&nbsp;TIME LEFT FOR FEDEX GROUND CUTOFF</label>
                  </small>
                </h5>
            </div>
            <div class="col-md-6">
                <h5> 
                  <label style="color: white;">{{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}
                  </label>
                  <small>
                    <label style="color: white">&nbsp;TIME LEFT FOR FEDEX GROUND CUTOFF</label>
                    </small>
                  </h5>
              </div>  
        </div>
      </section>
    </div>
  </header>
  
  
  