<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img src="../../../../../assets/images/logo.webp" class="rounded" alt="Cinque Terre" width="200" height="60"
        style="padding-right: 15px;">
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input class="form-control" id="myInput" style="padding-left: 25px;" type="text" placeholder="Search..">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-4" style="border-right: 1px dashed #333;">
          <button class="btn btn-danger">
            <span class="spinner-grow spinner-grow-sm"></span>
            Quick Order
          </button>
        </div>
        <div class="col-sm-8" >
          <h4 style="color: red">+1 (202)540-9946</h4>
        </div>
      </div>

    </div>
  </div>
</div>